.wrap {
  margin-bottom: var(--space-6);
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: var(--space-2);
}

.subtitle {
  margin-top: var(--space-2);
  max-width: 640px;
}

.center .subtitle {
  margin-left: auto;
  margin-right: auto;
}
